<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
</head>
<body>
 
  <h2 th:text="${nombre}">Lista de valores</h2>

  <p>Elementos de la lista</p>

  <ol>
    <!--
      las iteraciones son algo mas complejas
      En primer lugar, th:each nos da las pautas de la iteracion. La estructura es
         variable_iteracion: expresion
      En nuestro caso ${lista} indica que iteraremos sobre el atributo lista del model
      Y fila indica que, en cada iteracion, la variable fila guarda el elemento actual

      Hecho esto, ya solo queda usar th:text, como en el caso del titulo, empleando en este caso la
      variable de iteracion fila
     -->
    <li th:each="fila: ${lista}" th:text="${fila}">valor</li>
  </ol>


</body>
</html>

